@tailwind base;
@tailwind components;
@tailwind utilities;

/* Textos Normalizados */
@layer components {
  /**/
  .seccion-sm {
    @apply min-h-[calc(45vh-64px)];
  }
  .seccion-md {
    @apply min-h-[calc(60vh-64px)];
  }
  .seccion-lg {
    @apply min-h-[calc(80vh-64px)];
  }
  .seccion-xl {
    @apply h-[calc(100vh-64px)];
  }

  /**/
  .format-row {
    @apply flex mx-auto gap-2 justify-center;
  }
  .format-col {
    @apply flex flex-col gap-2 justify-center;
  }
  .format-mid {
    @apply flex flex-col gap-2 justify-between;
  }
  /**/
  .order-m {
    @apply items-center justify-center text-center;
  }
  .order-l {
    @apply items-center justify-start;
  }
  .order-r {
    @apply items-center justify-end text-right;
  }
  .btn_order-m {
    @apply items-center justify-center text-center;
  }
  .btn_order-l {
    @apply items-center justify-start;
  }
  .btn_order-r {
    @apply items-center justify-end;
  }
  /**/
  .margen {
    @apply lg:p-8 sm:p-4 p-3;
  }
  /**/
  .min-title {
    @apply md:text-sm text-xs lowercase font-aboreto tracking-widest font-extralight;
  }
  .main-title {
    @apply xl:text-6xl lg:text-5xl md:text-4xl text-3xl font-arya font-bold;
  }
  .min-text {
    @apply xl:text-2xl lg:text-xl md:text-lg font-saira font-semibold;
  }
  .main-text {
    @apply xl:text-xl lg:text-lg md:text-medium text-sm font-saira;
  }
  .sub-text {
    @apply xl:text-lg lg:text-base md:text-sm text-xs font-saira font-light text-foreground/90;
  }
  .main-slogan {
    @apply xl:text-9xl lg:text-7xl md:text-6xl text-5xl font-bodoni uppercase font-extrabold;
  }
  .sub-slogan {
    @apply xl:text-5xl lg:text-4xl md:text-4xl text-3xl capitalize font-julius;
  }
  /**/
  .titulo {
    @apply md:text-5xl sm:text-4xl text-3xl text-foreground font-semibold;
  }
  .subtitulo {
    @apply lg:text-2xl md:text-xl sm:text-lg text-lg text-foreground font-normal;
  }
  .minititulo {
    @apply md:text-2xl sm:text-xl text-medium text-foreground font-extralight;
  }
  .parrafo {
    @apply lg:text-xl md:text-medium text-sm text-foreground font-light;
  }
}
