@import "tw-elements-react/dist/css/tw-elements-react.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Textos Normalizados */
@layer components {
  /**/
  .seccion-sm {
    @apply h-[calc(45vh-64px)];
  }
  .seccion-md {
    @apply h-[calc(60vh-64px)];
  }
  .seccion-lg {
    @apply h-[calc(80vh-64px)];
  }
  .seccion-xl {
    @apply h-[calc(100vh-64px)];
  }

  /**/
  .format-row {
    @apply flex mx-auto gap-2 justify-center;
  }
  .format-col {
    @apply flex flex-col gap-2 justify-center;
  }
  .format-mid {
    @apply flex flex-col gap-2 justify-between;
  }
  /**/
  .order-m {
    @apply items-center justify-center text-center;
  }
  .order-l {
    @apply items-center justify-start;
  }
  .order-r {
    @apply items-center justify-end text-right;
  }
  .btn_order-m {
    @apply items-center justify-center text-center;
  }
  .btn_order-l {
    @apply items-center justify-start;
  }
  .btn_order-r {
    @apply items-center justify-end;
  }
  /**/
  .margen {
    @apply lg:p-12 md:p-8 p-5;
  }
  .logo-responsive {
    @apply lg:h-52 md:h-40 sm:h-32 h-24;
  }
  /**/
  .min-title {
    @apply md:text-sm text-xs lowercase font-aboreto tracking-widest font-extralight;
  }
  .main-title {
    @apply xl:text-7xl lg:text-6xl md:text-6xl text-5xl font-arya font-bold;
  }
  .min-text {
    @apply xl:text-2xl lg:text-xl md:text-lg font-saira font-semibold;
  }
  .main-text {
    @apply xl:text-xl lg:text-lg md:text-medium text-sm font-saira;
  }
  .sub-text {
    @apply xl:text-lg lg:text-base md:text-sm text-xs font-saira font-light;
  }
  .main-slogan {
    @apply xl:text-9xl lg:text-7xl md:text-6xl text-5xl font-bodoni uppercase font-extrabold;
  }
  .sub-slogan {
    @apply xl:text-5xl lg:text-4xl md:text-4xl text-3xl capitalize font-julius;
  }
  /**/
  .titulo {
    @apply md:text-5xl sm:text-4xl text-3xl text-foreground font-semibold;
  }
  .subtitulo {
    @apply lg:text-2xl md:text-xl sm:text-lg text-lg text-foreground font-normal;
  }
  .minititulo {
    @apply md:text-2xl sm:text-xl text-medium text-foreground font-extralight;
  }
  .parrafo {
    @apply lg:text-xl md:text-medium text-sm text-foreground font-light;
  }
}
/*animaciones*/
/* Kenburns (zoom-in con movimiento hacia arriba) */
.kenburns-top {
  animation: kenburns-top 5s ease-out forwards;
}

/* Tracking text entry */
.tracking-in-contract {
  animation: tracking-in-contract 1s ease-out both;
}

/* Text pop-up top */
.text-pop-up-top {
  animation: text-pop-up-top 1s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-11-20 1:33:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow:
      0 1px 0 #ccc,
      0 2px 0 #ccc,
      0 3px 0 #ccc,
      0 4px 0 #ccc,
      0 5px 0 #ccc,
      0 6px 0 #ccc,
      0 7px 0 #ccc,
      0 8px 0 #ccc,
      0 9px 0 #ccc,
      0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow:
      0 1px 0 #ccc,
      0 2px 0 #ccc,
      0 3px 0 #ccc,
      0 4px 0 #ccc,
      0 5px 0 #ccc,
      0 6px 0 #ccc,
      0 7px 0 #ccc,
      0 8px 0 #ccc,
      0 9px 0 #ccc,
      0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
